<ion-view >
  <ion-content>
      <div class="list">
    <ion-toggle toggle-class="toggle-balanced" ng-model="push" ng-click="setting()">
              You Want Notification Alert ?
      </ion-toggle>
  <div class="item" ng-click="openBrowser('http://mylaporetoday.com/Privacy_policy')">
    Disclaimer
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
  <div class="item" ng-click="openBrowser('http://mylaporetoday.com/Disclaimer')">
    Privacy policy
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
  <div class="item" ng-click="openBrowser('http://mylaporetoday.com/aboutUs')">
    About
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
 <div class="item" href="#">
    Version
    <span class="item-note">
      1.1
    </span>
  </div>
</div>
  </ion-content>
</ion-view>
