<ion-view class="match_result_page">
	<ion-nav-bar class="bar-stable"  style="height: 80px;">
      <ion-nav-back-button>
         <button class="button button-icon ion-android-arrow-back" ng-click="backview()">
        </button>   
      </ion-nav-back-button>
      <div class="logo"></div>
    </ion-nav-bar>
    <ion-content class="match_result">
        <div class="overlay"></div>
    	<div class="match">
    		<h4><span class="app_icon"><i class="icon ion-woman"></i></span> &nbsp; Bride name :</h4>
    			<p class="result">{{bride_name}}</p>
    	</div>
    	<div class="match">
    		<h4><span class="app_icon"><i class="icon ion-planet"></i></span> &nbsp; Bride Rasi :</h4>
    			<p class="result">{{match_result.girlraasi}}</p>
    	</div>
    	<div class="match">
    		<h4><span class="app_icon"><i class="icon ion-ios-star"></i></span> &nbsp; Bride Star :</h4>
    			<p class="result">{{match_result.girlstar}}</p>
    		</div>
    	<div class="match">
    		<h4><span class="app_icon"><i class="icon ion-person"></i></span> &nbsp; Groom name :</h4>
    			<p class="result">{{groom_name}}</p>
    	</div>
    	<div class="match">
    		<h4><span class="app_icon"><i class="icon ion-planet"></i></span> &nbsp; Groom Rasi :</h4>
    			<p class="result">{{match_result.boy_raasi}}</p>
    	</div>
    	<div class="match">
    	<h4><span class="app_icon"><i class="icon ion-ios-star"></i></span> &nbsp; Groom Star :</h4>
    		<p class="result">{{match_result.boy_star}}</p>
    	</div>
    	<div class="match">
    	<h4><span class="app_icon"><i class="icon ion-document"></i></span> &nbsp; Remark :</h4>
    		<p class="result">{{match_result.remark}}</p>
    	</div>
    	<div class="match">
    	<h4><span class="app_icon"><i class="icon ion-document-text"></i></span> &nbsp; Result :</h4>
    		<p class="result">{{match_result.result}}</p>
    	</div>
    	<div class="match">
    	<h4><span class="app_icon"><i class="icon ion-ios-calculator"></i></span> &nbsp; Count :</h4>
    		<p class="result">{{match_result.count}}</p>
    	</div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.a == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.a == '0'"><i class="icon ion-close-round"></i></span> &nbsp; dhina porutham :</h4>
            <p class="result">இதை நட்சத்திரப் பொருத்தம் என்று சொல்லலாம். கணவன், மனைவி இருவரும் நோய், நொடி இன்றி ஆரோக்கியத்துடனும், சுகத்துடனும் இருக்க​ தினப் பொருத்தம் அவசியம். இந்த​ பொருத்தம் இவருடைய​ எண்ணங்களும் ஒன்றாக​ ஒத்திருப்பதைக் காட்டும்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.b == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.b == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Gana Porutham :</h4>
            <p class="result">இருவரின் குண​ வேறுபாடுகள், காரிய​ சாதனைகள் மற்றும் தாம்பத்திய​ வாழ்க்கையில் சுகபோக​ பாக்கியங்களை குறைவின்றி அனுபவிக்க​ கணப் பொருத்தம் அவசியமாகிறது.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.c == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.c == '0'"><i class="icon ion-close-round"></i></span>&nbsp; Mahendra Porutham :</h4>
           <p class="result">குலம் விருத்தியடைய​ புத்திர​ பாக்கியம் இருக்க​ வேண்டும். மஹேந்திர​ பொருத்தம் இருந்தால் புத்திர​ பாக்கியம் விருத்தியடையும்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.d == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.d == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Sri dheerga Porutham :</h4>
           <p class="result">அஷ்டலட்சுமி கடாட்சமும், தனதான்ய​ விருத்தியும் தருவது ஸ்திரீ தீர்க்கப் பொருத்தமாகும். ஸ்திரீக்கு குறைவேதும் ஏற்படாமல் இருக்க​ இந்தப்பொருத்தம் அவசியமானதாகும்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.e == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.e == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Yoni Porutham :</h4>
            <p class="result">கணவன், மனைவி இருவரும் பரஸ்பர​ அன்புடனும், பாசத்துடனும் குடும்பம் நடத்தவும், ஒருவர் பாதையை மற்றவர் புரிந்து நடக்கவும், நல்ல​ தாம்பத்திய​ உறவு மேம்படவும் யோனிப்பொருத்தம் இருக்க​ வேண்டும்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.f == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.f == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Raasi Porutham :</h4>
            <p class="result">கணவன், மனைவி இருவருக்குமிடையே நல்ல​ ஒற்றுமையும், குடும்ப​ சுகமும், புத்திர​ பாக்கியமும், உறவினர்களின் ஒற்றுமையும் அமைய​ ராசி பொருத்தம் முக்கியமானதாகும்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.g == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.g == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Rassi Athipathi Porutham :</h4>
          <p class="result">கணவன், மனைவி இருவருக்குமிடையே உள்ள​ ஒற்றுமையை குறிக்கும். இருவரின் கருத்துகளும் ஒன்றுபட்டுள்ளதா அல்லது மாறுபட்டு உள்ளதா என்பதை ராசியதிபதியை கொன்டு நிர்ணயிக்கலாம்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.h == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.h == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Vasiya Porutham :</h4>
            <p class="result">கணவன், மனைவி இருவரும் பரஸ்பர​ அன்புடனும், காதலுடனும் வசியப்பட்டு வாழ​ வேண்டுமானால் வசியப்பொருத்தம் அவசியம் வெண்டும்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.i == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.i == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Rajju Porutham :</h4>
           <p class="result">கணவன், மனைவி இருவரும் தீர்க்காயுளுடன் இருக்க​ வேண்டும். மனைவி தீர்க்க​ சுமங்கலியாக​ இருக்க​ வேண்டும். பெண்ணின் மாங்கல்ய​ பலத்தை குறிப்பதால் இந்த​ பொருத்தம் மிகவும் முக்கியமானதாகும். இதைக்கழுத்து பொருத்தம் என்றும், தாலி பொருத்தம் என்றும் அழைக்கின்றார்கள்.</p>
        </div>
        <div class="match">
        <h4><span class="green" ng-if="match_result.j == '1'"><i class="icon ion-checkmark-round"></i></span>
            <span class="red" ng-if="match_result.j == '0'"><i class="icon ion-close-round"></i></span> &nbsp; Vethai Porutham :</h4>
           <p class="result">வேதை என்றால் இடையூறு என்று பொருள். வாழ்வின் உயர்விலும், தாழ்விலும் கோப​, தாபங்கள், கஷ்ட​, நஷ்டங்கள் போன்ற​ காலங்களில் மனோ பலத்துடன் அவற்றை இருவரும் ஒற்றுமையாய் தாங்கிக்கொள்ளும் வகையில் வேதைப் பொருத்தம் அமைவதால் இது மிகவும் முக்கியமான​ பொருத்தமாகும்.</p>
        </div>

    </ion-content>
</ion-view>