<ion-view >
  <ion-content >
     <ion-refresher on-refresh="doRefresh()"  refreshingSpinner="circles"></ion-refresher>
    <div class="item-avatar item-icon-right"  type="item-text-wrap" >
        <div class="profile_list">

     <form  class="myForm" name="myForm" ng-submit="match(user)">

      <ion-md-input type="text" class="input_field" ng-model="user.bride_name" name="name" placeholder="Enter the bride name"  ng-minlength="2"  required /></ion-md-input>

      <select ng-model="user.bride_rasi" ng-change="selectstar(user.bride_rasi, 'bride')" >
        <option>Select bride rasi</option>
        <option ng-repeat="bride_rasi in rasi" ng-value="{{bride_rasi.id}}">{{bride_rasi.name}}</option>
      </select>
      <select ng-model="user.bride_star">
        <option>Select bride star</option>
        <option ng-repeat="bride_star in bride_stars" ng-value="{{bride_star.name}}">{{bride_star.name}}</option>
      </select>
      <ion-md-input type="text" class="input_field" ng-model="user.groom_name" name="name" placeholder="Enter the groom name"  ng-minlength="2"  required /></ion-md-input>
      <select ng-model="user.groom_rasi" ng-change="selectstar(user.groom_rasi, 'groom')">
        <option>Select groom rasi</option>
         <option ng-repeat="groom_rasi in rasi" ng-value="{{groom_rasi.id}}">{{groom_rasi.name}}</option>
      </select>
      <select ng-model="user.groom_star">
        <option>Select groom star</option>
        <option ng-repeat="groom_star in groom_stars"  ng-value="{{groom_star.name}}">{{groom_star.name}}</option>
      </select>
       <ion-md-input type="text" id="password_c" name="password_c" ng-model="user.phonenumber" placeholder="Enter your phone Number"  required  /></ion-md-input>
      <button   class="button button-block button-positive sign_in" >
       Match
     </button>
 </form>
</div>
      </div>
  </ion-content>
</ion-view>
