/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

.platform-ios.has-translucent-status-bar .app-header-bar {
    padding-top: 20px;
}

.platform-android.has-translucent-status-bar .app-header-bar  {
    padding-top: 25px;
}
.button:link{
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
@font-face {
    font-family: myFirstFont;
    src: url('Jennifer Lynne Bold.ttf') format('truetype');
    font-weight: bold;
}
.titre{
font-family:myFirstFont;
font-size:15px;
}
.item-complex .item-content, .item-radio .item-content{
background-color: #18ba46;
    color: #fff;
}
/*.item{
border-color: #454545;
}*/
.bar.bar-dark .title {
    color: #f53c3c;
}
.logo
{
    background-image: url(../img/logo.png);
background-repeat: no-repeat;
background-position: center center;
background-size: auto 63px;
height: 79px;
position: absolute;
z-index: 99999;
text-align: center;
left: 50px;
right: 50px;
top: 0;
}
.profile_list .item-input
  {
    display: block !important;
        border: transparent;
  }

.profile_list{
  position: relative;
  top:20px;
  padding: 0px 15px 0px 15px; 
}
.myForm .input-label{
font-weight: 600;
color: #000;
font-size: 14px;
}
.error-message
{
  color: #F00;
  white-space: normal !important;
    font-size: 12px;
}
 textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
   padding-left: 10px !important;
       border-bottom: 1px solid #ec8f16;
}
  }
  .myForm .input-label{
    font-weight: 100;
color: #000;
font-size: 14px;
}
.item-icon-right {
    padding-right: 0px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 0px;
    }
    .item-input {
            padding: 6px 0 5px 0px;
        }
.item-md-label .highlight-calm {
    background: #ec8f16 !important;
}        
.sign_in{
    background-color: #f88e15 !important;
    margin-top: 15px !important;
    }
    .item-md-label .highlight {
    bottom: 4px;
}
.item-md-label {
    padding-top: 30px !important;
    }
    .bar.bar-stable {
    border-color: transparent !important;
    height: 80px;
  }
.ion-ios-arrow-back,.ion-navicon,.back-button{
    margin-top: 1px;
  }
select{
    margin-top: 30px !important;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #f88e15;
        background-color: transparent;
}
.has-header {
    top: 80px;
}
h4
{
  color: #000;
}
.result
{
      color: #00b906;
      padding: 0px 15px 0px 20px;
}
.match{
    padding: 0px 10px;
    border-bottom: 1px solid #b7b7b775;
}
.green
{
	color: #227409;
}
.red{
	color: #980B0B;
}
.match_result{
    /*background-image: url(../img/wallpaper-1477870_960_720.jpg);*/
    background-position: right;
    background-size: cover;
    background-color: #fa93226b;
}
.menu_bar
{
    height: 40px !important;
}
.side_menu_list  {
    top: 40px;
}
/*.bar .button.back-button, .bar button.back-button {
    display: block;
    }*/
    .hide {
      display: block;
    }
.slider-pager.hide
    {
      display: none;
    }
.app_icon i{
    font-size: 20x;
    color: #088123;
}